* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    color: #084236;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    background-color: #dce4e3;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1 {
    margin: 20px 18px 0px 18px;
}

#sideBar {
    width: 250px;
    height: 100%;
    background-color: #18c29c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

#top {
    height: 76px;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 28px;
    margin-left: 29px;
}

#menu {
    margin-right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#sections {
    height: 100%;
}

.section {
    display: flex;
    flex-direction: row;
    margin: 14px 14px;
    align-items: center;
    justify-content: start;
    padding: 5px;
    border-radius: 12px;
    height: 50px;
}

.section:hover {
    background-color: #8ed7c6;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 5px ;
}

p {
    margin: 0 5px;
}

#down {
    height: 60px;
    padding: 6px auto;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: #8ed7c6;
}

#down > div {
    width: 160px;
    font-size: 0.8em;
}

#down > div > p {
    margin: 0 20px 0 10px;
}

#avatar {
    width: 45px;
    height: 45px;
    margin: 8px 4px 6px 12px;
}

#exit {
    margin-right: 28px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sideBarClose {
    width: 50px;
}

.hidden {
    display: none;
}
